body{
  background-color: red;
  color: black;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  background-color: wheat;
  width: 400px;
  border-radius: 10px;
}

.row{
  display: flex;
  background-color: wheat;
}